img {
	object-fit: cover;
	object-position: center;
	height: auto;
	opacity: var(--img-opacity);
}

img, 
svg {
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

figure {
	.img,
	.svg {
		margin: 0 auto;
	}
}

hr {
	background: var(--hr-bg);
	margin: 2rem 0;
	width: 100%;
	max-width: 35%;
	opacity: 1;
}

.nuxt-content-editor {
	background: transparent;
	color: var(--body-color-normal);
	border: 1px solid var(--hr-bg) !important;
	border-radius: 0;
	outline: 0;
	font-size: 0.95rem;
	padding: 1rem !important;
	height: 95vh !important;
}

.lazy {
	opacity: 0;
	&.lazyloaded {
		opacity: var(--img-opacity);
	}
}