@use "sass:math";

#__nuxt {
	color: var(--body-color-normal);
	background-color: var(--body-bg);
	transition: background-color 0.35s ease;
}

header.header,
footer.social {
	position: fixed;
	bottom: 0;
	mix-blend-mode: difference;
	z-index: 9999;
	transition: all 0.35s ease;
	@include rs('padding', 0.95rem, 3vw, 1.5rem);
	* {
		color: white !important;
	}
	.toggler,
	.bi {
		@include rs('font-size', 1.15rem, 5vw, 1.5rem)
	}

}

img {
	object-fit: cover;
	object-position: center;
	height: auto;
}

img, 
svg {
	max-width: 100%;
}

hr {
	background: var(--hr-bg);
	margin: 2rem 0;
	width: 100%;
	max-width: 35%;
	opacity: 1;
}

figure {
	display: block;
	text-align: center;
	max-width: 100%;
	margin: 1.5rem 0;
	user-select: none;
	img, svg {
		max-width: 100%;
		height: auto;
	}
	small,
	.small,
	figcaption,
	.caption {
		display: block;
		text-align: center !important;
		margin-top: 1rem !important;
		margin-bottom: 0 !important;
	}
}

ul {
	list-style: katakana;
	li::marker {
		color: var(--body-color-muted);
	}
}