@use "sass:math";

#__nuxt {
	color: var(--body-color-normal);
	background-color: var(--body-bg);
	transition: background-color 0.35s ease;
}

header.header,
footer.footer {
	padding: math.div($header-padding-y, 2) math.div($header-padding-x, 1.5);
	position: fixed;
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	flex-direction: column;
	mix-blend-mode: difference;
	z-index: 9999;
	transition: all 0.35s ease;
	* {
		color: white;
	}
	.toggler,
	.bi {
		font-size: 1.25rem;
		@include media-breakpoint-up(sm) {
			font-size: 1.5rem;
		}
	}
	@include media-breakpoint-up(sm){
		padding: $header-padding-y $header-padding-x;
	}
}

main {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 100vh;
	background-color: var(--body-bg);
	padding-left: var(--header-width, 50px);
	padding-right: 1.5rem;
	transition: background-color .35s ease;
	@include media-breakpoint-up($expand) {
		flex-direction: row;
		padding-right: 0;
	}
	section.info {
		display: flex;
		width: 100%;
		height: 100%;
		padding: $header-padding-y 0;
		flex-direction: column-reverse;
		z-index: 99;
		@include media-breakpoint-up($expand) {
			flex: 0;
			position: sticky;
			top: 0;
			padding: $header-padding-y 0;
			writing-mode: tb-rl;
		}
		.title {
			margin: 0;
			display: block;
			position: relative;
			font-weight: 900;
			overflow: hidden;
			@include rs('font-size', 2rem, 2.25vw, 6rem);
			@include media-breakpoint-up($expand) {
				transform: rotate(180deg);
				span {
					padding-bottom: 1rem;
					background: var(--body-bg);
					border-left: 5px solid var(--body-bg);
					transition: background .35s ease;
				}
				&::before {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					right: 50%;
					left: 0;
					width: 1px;
					background: var(--hr-bg);
					z-index: -1;
					transition: background .35s ease;
				}
			}
		}
		.date,
		.subtitle {
			font-weight: 300;			
			@include rs('font-size', 1.5rem, 2vw, 2.5rem);
			@include media-breakpoint-up($expand) {
				transform: rotate(-180deg);
			}
		}
	}
	section.content {
		display: flex;
		flex-direction: column;
		flex: 1 1;
		padding: 0;
		line-height: 150%;
		@include media-breakpoint-up($expand) {
			min-height: 100vh;
			justify-content: flex-end;
			position: sticky;
			top: 0;
			max-width: 450px;
			padding: $header-padding-y;
		}
	}
	section.right {
		width: 100%;
		max-width: 100%;
		flex: 1 1 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		order: -1;
		@include media-breakpoint-up($expand) {
			order: 2;
			flex: 1 1 0;
			min-height: 100vh;
		}
	}
}

img {
	object-fit: cover;
	object-position: center;
	height: auto;
}

img, 
svg {
	max-width: 100%;
}

hr {
	max-width: 35%;
	margin: 2rem 0;
	background: var(--hr-bg);
	opacity: 1;
}

figure,
.figure {
	display: block;
	text-align: center;
	max-width: 100%;
	margin: 1.5rem 0 !important;
	img, svg {
		max-width: 100%;
		height: auto;
	}
	small,
	.small,
	figcaption,
	.caption {
		display: block;
		text-align: center !important;
		margin-top: 1rem !important;
		margin-bottom: 0 !important;
	}
}

.title-decor {
	overflow: hidden;
	position: absolute;
	max-width: 100%;
	width: 80%;
	top: 0;
	right: 0;
	color: transparent;
	font-family: $font-family-headings;
	font-weight: 900;
	-webkit-text-fill-color: transparent; 
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: var(--body-color-muted);
	opacity: 0.2;
	text-align: right;
	z-index: -0;
	line-height: 1.15;
	user-select: none;
	pointer-events: none;
	@include rs('font-size', 7rem, 11vw, 12.5rem);
}