#__nuxt {
	min-height: 100vh;
	color: var(--body-color-normal);
	background-color: var(--body-bg);
	transition: background-color 0.35s ease;
}

.nuxt-content-editor {
	background: transparent;
	color: var(--body-color-normal);
	border: 1px solid var(--hr-bg) !important;
	border-radius: 0;
	outline: 0;
	font-size: 0.95rem;
	padding: 1rem !important;
	height: 95vh !important;
}