html {
	@supports (scroll-behavior: smooth) {
		scroll-behavior: smooth;
	}
	&.light {
		--theme-icon:                 "\f1d2";
		--theme-loader:               "~assets/img/loader-white.svg";
		--theme-lightness:            98%;
		--theme-lightness-inverted:   05%;
		--acrylic-bg:                 #{rgba($theme-light, 0.97)};
		--acrylic-backdrop-bg:        #{rgba($theme-light, 0.45)};
		--acrylic-backdrop:           blur(40px) saturate(2);
		--body-bg:                    #{$theme-light};
		--body-bg-chat:               #{darken($theme-light, 09%)};
		--body-bg-muted:              #{darken($theme-light, 04%)};
		--body-color-high:            #{darken($theme-light, 80%)};
		--body-color-medium:          #{darken($theme-light, 70%)};
		--body-color-normal:          #{darken($theme-light, 60%)};
		--body-color-low:             #{darken($theme-light, 45%)};
		--body-color-lower:           #{darken($theme-light, 30%)};
		--body-color-muted:           #{darken($theme-light, 15%)};
		--body-color-high-inverted:   #{lighten($theme-dark, 80%)};
		--body-color-normal-inverted: #{lighten($theme-dark, 60%)};
		--hr-bg:                      #{darken($theme-light, 20%)};
		--overlay-bg:                 #{rgba($theme-light, 0.45)};
		--img-opacity:                1;
	}
	&.dark {
		--theme-icon:                 "\f496";
		--theme-loader:               "~assets/img/loader-dark.svg";
		--theme-lightness:            07%;
		--theme-lightness-inverted:   90%;
		--acrylic-bg:                 #{rgba($theme-dark, 0.97)};
		--acrylic-backdrop-bg:        #{rgba($theme-dark, 0.65)};
		--acrylic-backdrop:           blur(40px) saturate(1.5);
		--body-bg:                    #{$theme-dark};
		--body-bg-chat:               #{lighten($theme-dark, 08%)};
		--body-bg-muted:              #{lighten($theme-dark, 03%)};
		--body-color-high:            #{lighten($theme-dark, 80%)};
		--body-color-medium:          #{lighten($theme-dark, 70%)};
		--body-color-normal:          #{lighten($theme-dark, 60%)};
		--body-color-low:             #{lighten($theme-dark, 45%)};
		--body-color-lower:           #{lighten($theme-dark, 30%)};
		--body-color-muted:           #{lighten($theme-dark, 15%)};
		--body-color-high-inverted:   #{darken($theme-light, 80%)};
		--body-color-normal-inverted: #{darken($theme-light, 60%)};
		--hr-bg:                      #{lighten($theme-dark, 20%)};
		--overlay-bg:                 #{rgba($theme-dark,  0.45)};
		--img-opacity:                0.775;
	}
}
