// Layout
.layout-enter-active,
.layout-leave-active {
	transition: opacity 0.5s ease;
}

.layout-enter,
.layout-leave-to {
	opacity: 0;
}

// Page
.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s ease !important;
}

.page-enter,
.page-leave-to {
	opacity: 0 !important;
}

// Fade
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.35s ease;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

// Elements
::marker, .toggler::before,
.bi,
ul, p, span, strong, b, i {
	transition: color 0.35s ease;
}

blockquote,
pre {
	transition: background 0.35s ease, border-color 0.35s ease;
}

svg * {
	transition: fill 0.35s ease;
}

hr {
	transition: border-color 0.35s ease;
}

img {
	transition: opacity 0.35s ease;
}