// Typography
a {
	transition: color 0.35s ease;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--body-color-high);
	font-family: $font-family-headings;
	font-weight: bold;
	transition: color 0.35s ease;
	@include rs('margin-bottom', 1rem, 1vw, 1.5rem);
}

p {
	@include rs('font-size',     0.875rem, 2vw, 1rem);
	@include rs('margin-top',      0.5rem, 1vw, 1rem);
	@include rs('margin-bottom',   0.5rem, 1vw, 1rem);
	&.lead {
		color: var(--body-color-medium);
		@include rs('font-size', 1.05rem, 2vw, 1.25rem, true);
	}
}


b,
strong {
	font-weight: 700 !important;
	color: var(--body-color-medium);
}

small,
figure figcaption,
pre::before {
	@include rs('font-size',     0.8rem, 1vw, 0.875rem);
}

ul ,ol {
	li::marker {
		color: var(--body-color-lower);
	}
}
ol {
	list-style: upper-roman;
}
ul {
	list-style: katakana;
}

blockquote,
figure,
pre {
	@include rs('margin-top',    1rem, 2vw, 1.75rem, true);
	@include rs('margin-bottom', 1rem, 2vw, 1.75rem, true);
}

blockquote,
pre {
	margin-left: 0;
	margin-right: 0;
	@include media-breakpoint-up(md) {
		@include rs('margin-left',  1rem, 1vw, 2rem, true);
		@include rs('margin-right', 1rem, 1vw, 4rem, true);
	}
	ul {
		color: var(--body-color-normal);
	}
}

blockquote {
	display: block;
	padding: 1.5rem;
	position: relative;
	border-left: 6px solid var(--body-color-muted);
	background-color: var(--body-bg-muted);
	color: var(--body-color-medium);
	quotes: "\201C" "\201D" "\2018" "\2019";
	p {
		margin: 0 !important;
	}
	cite {
		display: block;
		font-weight: 600;
		font-style: normal;
		color: var(--body-color-muted);
		font-family: $font-family-headings;
		line-height: 1.5;
		transition: all 0.35s ease;
		@include rs('margin-top', 1rem, 1.5vw, 1.5rem);
		@include rs('font-size', 0.85rem, 1.5vw, 1rem);
	}
}

pre {
	position: relative;
	padding: 1.25rem 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: var(--body-color-lower);
	font-family: $font-family-serif;
	font-weight: 500;
	line-height: 1.25;
	white-space: pre-wrap;
	overflow: inherit;
	border-top: 1px dotted var(--body-color-muted);
	border-bottom: 1px dotted var(--body-color-muted);
	@include media-breakpoint-up($expand) {
		padding: 1.25rem;
	}
	&::before {
		padding: 0.25rem 0.85rem 0.25rem 0.65rem;
		margin-bottom: 0.75rem;
		content: "🧔🏻 Derian te está hablando";
		color: var(--body-color-normal);
		background: var(--body-bg-chat);
		font-family: $font-family-headings;
		font-weight: 500;
		border-radius: 0 0.5rem 0.5rem 0.75rem;
		transition: all 0.35s ease;
		@include media-breakpoint-up($expand) {
			margin-left: -1.25rem;
		}
	}
}

figure {
	display: block;
	text-align: center;
	max-width: 100%;
	user-select: none;
	figcaption {
		margin-bottom: 0 !important;
		position: relative;
		font-style: italic;
		display: block;
		text-align: center !important;
		@include rs('padding-top', 0.35rem, 1vw, 0.65rem, true);
		@include rs('padding-bottom', 0.35rem, 1vw, 0.65rem, true);
		@include rs('margin-top', 1rem, 1.5vw, 2rem, true);
		&::before {
			position: absolute;
			top: 0;
			bottom: -0.25rem;
			left: 50%;
			width: 45%;
			display: block;
			content: "";
			border-top: 1px dotted var(--body-color-muted);
			border-bottom: 1px dotted var(--body-color-muted);
			transform: translateX(-50%);
			user-select: none;
			pointer-events: none;
			@include media-breakpoint-up($expand) {
				width: 15%;
			}
		}
	}
}

article + p,
blockquote + p,
pre,
figcaption {
	a {
		font-weight: bolder;
		font-style: italic;
		color: var(--body-color-medium);
		&:hover {
			color: var(--body-color-high);
		}
	}
}