// Typography
a {
	transition: color 0.35s ease;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--body-color-high);
	font-family: $font-family-headings;
	font-weight: bold;
	transition: color 0.35s ease;
	@include rs('margin-bottom', 1rem, 1vw, 1.5rem);
}

p.lead {
	color: var(--body-color-medium);
	@include rs('font-size', 1.05rem, 1.5vw, 1.25rem, true);
}

blockquote,
pre {
	@include media-breakpoint-up($expand) {
		margin: 2rem 1rem;
	}
}

blockquote {
	display: block;
	padding: 1.5rem;
	position: relative;
	border-left: 6px solid var(--body-color-muted);
	background-color: var(--body-bg-muted);
	color: var(--body-color-medium);
	quotes: "\201C" "\201D" "\2018" "\2019";
	p {
		margin: 0 !important;
	}
	cite {
		display: block;
		font-weight: 600;
		font-style: normal;
		color: var(--body-color-muted);
		font-family: $font-family-headings;
		line-height: 1.5;
		transition: all 0.35s ease;
		@include rs('margin-top', 1rem, 1.5vw, 1.5rem);
		@include rs('font-size', 0.85rem, 1.5vw, 1rem);
	}
}

pre {
	display: block;
	margin: 1rem 0;
	padding: 1rem;
	color: var(--body-color-muted);
	font-family: $font-family-serif;
	font-weight: 500;
	line-height: 1.25;
	white-space: pre-wrap;
	overflow: inherit;
	border-top: 2px solid var(--hr-bg);
	border-bottom: 2px solid var(--hr-bg);	
	&::before {
		display: block;
		content: "Derian dice:";
		font-family: $font-family-headings;
		font-weight: bold;
		font-size: 0.85rem;
		margin-bottom: 0.5rem;
		color: var(--body-color-normal)
	}
}

small,
figure {
	figcaption {
		font-size: 0.85rem;
	}
}

article p:first-child,
article p.lead,
blockquote p,
pre {
	line-height: 1.5;
	transition: all 0.35s ease;
	@include rs('font-size', 1.1rem, 1.5vw, 1.5rem, true);
}