#__nuxt {
	color: var(--body-color-normal);
	background-color: var(--body-bg);
	transition: background-color 0.35s ease;
}

.layout {
	position:         relative;
	display:          flex;
	flex-wrap:        nowrap;
	flex-direction:   column;
	// Removed `overflow` as it causes `position: sticky` to not work
}