.layout {
	position:       relative;
	display:        flex;
	flex-wrap:      nowrap;
	flex-direction: column;
	min-height:     100vh;
	// Removed `overflow` as it causes `position: sticky` to not work
}