// Article
article.blog {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: $font-family-serif;
	line-height: 1.75;
	p:first-child {
		color: var(--body-color-medium);
	}
	& > *:first-child {
		margin-top: 0 !important;
		& > *:first-child {
			margin-top: 0 !important;
		}
	}
	& > *:last-child {
		margin-bottom: 0 !important;
		& > *:last-child {
			margin-bottom: 0 !important;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 2.5rem 0 1.5rem;
	}
	b, strong {
		color: var(--body-color-medium)
	}
	figure {
		width: 100%;
		text-align: center;
		img, svg {
			margin-left: auto;
			margin-right: auto;
		}
	}
}