// Article
.article {
	p:first-child {
		color: var(--body-color-medium);
	}
	& > *:first-child {
		margin-top: 0 !important;
		& > *:first-child {
			margin-top: 0 !important;
		}
	}
	& > *:last-child {
		margin-bottom: 0 !important;
		& > *:last-child {
			margin-bottom: 0 !important;
		}
	}
}

article.article-blog {
	overflow: hidden;
	line-height: 1.75;
	font-family: $font-family-serif;
	padding: 0;
	color: var(--body-color-normal);
	h1, h2, h3, h4, h5, h6 {
		@include rs('margin-top', 1rem, 1vw, 2rem);
	}
	figure {
		width: 100%;
		text-align: center;
		img, svg {
			margin-left: auto;
			margin-right: auto;
		}
	}
	p:first-child,
	p.lead,
	blockquote p,
	pre {
		line-height: 1.5;
		transition: all 0.35s ease;
		@include rs('font-size', 0.95rem, 1.5vw, 1.5rem, true);
	}
}