.pagination {
	.page-item {
		@include rs('font-size', 0.75rem, 1vw, 0.95rem);
		.page-link {
			color: var(--body-color-muted);
			background: transparent !important;
			border-color: transparent;
			border-radius: 0 !important;
			transition: all 0.35s ease;
			user-select: none;
			box-shadow: none;
		}
		&:hover,
		&.active {
			.page-link {
				color: var(--body-color-normal);
				border-color: var(--body-color-muted);
			}
		}
		&.disabled {
			&:hover {
				cursor: not-allowed;
			}
			.page-link {
				color: var(--body-color-muted);
				border-color: transparent;
			}
		}
	}
}