
main.page-main {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 100vh;
	padding-left: var(--header-width);
	@include rs('padding-right', 0.95rem, 2vw, 1.5rem);
	@include media-breakpoint-up($expand) {
		padding-right: 0;
		flex-direction: row;
	}
}