section.blog-list {
	max-width: 1100px !important;
	.header {
		color: var(--body-color-normal);
		font-size: 120%;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
	}
	.post {
		display: flex;
		align-items: baseline;
		color: var(--body-color-normal);
		text-decoration: none;
		flex-direction: column;
		text-decoration: none;
		@include rs('margin-top', 0.5rem, 1.5vw, 1rem);
		@include rs('margin-bottom', 0.5rem, 1.5vw, 1rem);
		@include media-breakpoint-up($expand) {
			flex-direction: row;
		}
		.title {
			order: 1;
			margin: 0;
			position: relative;
			line-height: 1.5;
			font-weight: bold;
			@include rs('font-size', 1.25rem, 2.5vw, 1.6rem);
			&::after { 
				content: "";
				background: var(--hr-bg);
				display: block;
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 0;
				height: 6px;
				opacity: 0;
				transition: all 0.35s ease;
			}
		}
		.date {
			order: 0;
			margin: 0 0 0.25rem 0;
			width: 100%;
			max-width: 200px;
			color: var(--body-color-muted);
			font-weight: 600;
			font-family: $font-family-serif;
			@include rs('font-size', 0.95rem, 1vw, 1rem)
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			color: var(--body-color-normal);
			.title {
				&::after {
					width: 50%;
					opacity: 1;
				}
			}
		}
	}
	.pagination {
		display: flex;
		align-items: center;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0.4rem 0 3rem;
		font-family: $font-family-headings;
		@include media-breakpoint-up($expand) {
			margin: 0.35rem 0 0;
		}
		.page-numbers {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 32px;
			height: 32px;
			margin: 0.35rem;
			text-decoration: none;
			color: var(--body-color-normal);
			border-bottom: 1px solid transparent;
			font-size: 0.85rem;
			&.current {
				color: var(--body-color-high);
				border-bottom: 1px solid var(--body-color-muted);
			}
			&.next,
			&.prev {
				width: auto;
				color: var(--body-color-muted);
			}
			&:not(.current):hover {
				color: var(--body-color-high);
				border-bottom: 1px solid var(--body-color-high);
			}
		}
	}
}