main.blog-post {
	position: relative;
	.heading {
		overflow: hidden;
		position: absolute;
		max-width: 100%;
		width: 80%;
		top: 0;
		right: 0;
		color: transparent;
		font-family: $font-family-headings;
		font-weight: 900;
		-webkit-text-fill-color: transparent; 
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: var(--body-color-lower);
		opacity: 0.2;
		text-align: right;
		z-index: -0;
		line-height: 1.15;
		-webkit-user-select: none;
		user-select: none;
		pointer-events: none;
		transition: all 0.35s ease;
		@include rs('font-size', 7rem, 11vw, 12.5rem);
	}
	section.content-blog {
		max-width: 100%;
		justify-content: flex-start;
		align-items: center;
		@media (min-width: $expand-blog) {
			padding: 0;
			@include rs('padding-top', 1rem, 1.5vw, 2rem);
			@include rs('padding-bottom', 1rem, 1.5vw, 2rem);
		}
		.article-blog {
			max-width: 1000px;
			@media (min-width: $expand-blog) {
				transform: translateX(calc((-1 * var(--page-info-width)) + 28px));
			}
			.article-blog-content {
				display: flex;
				flex-direction: column;
				& > *:first-child {
					margin-top: 0 !important;
				}
			}
		}
	}
}