section.content.blog-post {
	max-width: 100%;
	justify-content: flex-start;
	@media (min-width: 1700px) {
		margin-left: calc(-1 * (var(--header-width, 0px) + var(--info-width, 0px) - 3.5rem));
	}
	.container {
		max-width: 950px;
	}
	.btn-outline-link {
		&:first-child {
			margin-top: 0;
		}
	}
	article {
		.article-content {
			display: flex;
			flex-direction: column;
			& > *:first-child {
				margin-top: 0 !important;
			}
		}
	}
}